# GEMINI_API_KEY: Diisi token API Gemini Anda dari AI Studio Secrets
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: URL hosting aplikasi Anda
APP_URL="MY_APP_URL"

# ==========================================
# 🟢 KONFIGURASI CLIENT-SIDE (VITE)
# ==========================================
VITE_SUPABASE_URL="https://alziaszfozhbsehrcwwy.supabase.co"
VITE_SUPABASE_ANON_KEY="sb_publishable_k6VLWODCvBlKRI1AHKJZ0w_mxbvX8sV"

# ==========================================
# 🔵 KONFIGURASI BACKEND (DATABASE POSTGRES)
# ==========================================
DB_HOST="aws-0-ap-southeast-1.pooler.supabase.com"
DB_PORT=6543
DB_DATABASE="postgres"
DB_USERNAME="postgres"
DB_PASSWORD="79TD3%d6?Hd4ps@"
